[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
vosk = "*"
pyaudio = "*"
pywin32 = "*"
pyqtwebengine = "*"
pyqt5 = "*"
send2trash = "*"
pynput = "*"
live2d-py = "*"
simpleaudio = "*"
pyinstaller = "*"
mcp = "*"

[dev-packages]

[requires]
python_version = "3.13"
